/* 'cause dark colour is eye-candy for developers */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


body {
  background-color: #242424 !important;
  color: #eeeeee;
}

/* fix image size */
div.carousel-item img {
  background-size: cover;
}

.footer-copyright {
  position: fixed;
  font-size: 0.8em;
  background-color: #242424;
  padding-top: 10px;
  padding-bottom: 0px;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  font-size: 10px;
}

footer a {
  color: white !important;
}

#PrivacyPolicy, #TermsOfService {
  margin: 0 auto;
  color: #cfcfcf;
  height: 88vh;
  overflow: auto;
  background-color: #1d1d1d;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #181818;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 3px;
}

.modal-header.bg-dark,
.modal-footer.bg-dark,
.modal-body.bg-dark
 {
  background-color: #242424 !important;
}
.modal-footer.bg-dark,
.modal-header.bg-dark {
  border-radius: 0px;
  border: none;
}

.modal-body.bg-dark {
  overflow-x: hidden;
}
.fo-container .nt-hljs {
  max-height: 400px;
}

.copy-open-btn {
  height: 38px;
}