/* 'cause dark colour is eye-candy for developers */

.bg-dark {
    background-color: #242424;
    color: #eeeeee;
}

/* fix image size */
div.carousel-item img{
    background-size: cover;
}

a {
  color: #2aabd2;
}
